<section id="feeOption-section" class="section js-section ">
    <header class="section-header">
        <div class="section-wrapper">
            <div class="row">
                <div class="col-lg-9">
                    <p class="help-block">费用列表</p>
                    <div class="row">
                        <div class="col-xs-12"  style="min-height: 500px">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>名称</th>
                                    <th>拼音码</th>
                                    <th>供货商</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" v-for="item in feeList"
                                    @click.stop="toggleSelect(item)"
                                    :class="{'active':selected==item.id}"
                                >
                                    <td>{{item.id}}</td>
                                    <td class="center">{{item.name}}</td>
                                    <td >{{item.spell}}</td>
                                    <td >{{item.supplier}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <mypage :params.sync="mypage"></mypage>
                    </div>
                </div>
                <div class="col-lg-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            费用管理
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 minWidth100">
                                    <div class="form-group ">
                                        <label>费用名称</label>
                                        <input class="form-control inlineInput" placeholder=""
                                               v-model="feeInfo.name"
                                        >
                                    </div>
                                    <div class="form-group ">
                                        <label>&nbsp;&nbsp;&nbsp;拼音码</label>
                                        <input class="form-control inlineInput" placeholder=""
                                               v-model="feeInfo.spell"
                                        >
                                    </div>

                                </div>
                                <div class="col-sm-6 minWidth100">
                                    <div class="form-group ">
                                        <label>默认供货商</label>
                                        <dropdown placeholder="选择供应商"
                                                  :word.sync="feeInfo.supplier"
                                                  :list.sync="supplierList"
                                                  @search="searchSupplier"
                                                  @select="SupplierRender"
                                        ></dropdown>

                                    </div>

                                </div>

                                <div class="col-xs-12">
                                    <button v-show="selected==-1" type="button" class="btn btn-primary" style="width: 72px"
                                            @click.stop="add"
                                    >添加</button>
                                    <button v-show="selected!=-1" type="button" class="btn btn-primary" style="width: 72px"
                                            @click.stop="correct"
                                    >修改</button>
                                    <button type="button" class="btn btn-default" style="width: 72px;margin-left: 20px"
                                            @click.stop="cancel"
                                    >取消</button>
                                    <button v-show="selected!=-1" type="button" class="btn btn-default"
                                            style="width: 72px;margin-top: 10px"
                                            @click.stop="del"
                                    >删除</button>
                                </div>

                            </div>






                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>

                <!-- /.col-lg-12 -->
            </div>
        </div>
    </header>
</section>
