

<side></side>
<main class="content js-content noprint">
        <xiadan></xiadan>
        <mingxi></mingxi>
        <storeoption></storeoption>
        <chaxun></chaxun>
        <jiekuan></jiekuan>
        <huangkuan></huangkuan>
        <qiankuanchaxun></qiankuanchaxun>
        <kehuoption></kehuoption>

        <feemingxi></feemingxi>
        <feedan></feedan>
        <feeoption></feeoption>

        <baosun></baosun>
        <jinchumingxi></jinchumingxi>
        <jinhuo></jinhuo>
        <kucun></kucun>

        <report></report>
        <result></result>
        <supplyoption></supplyoption>
        <zhuanzhang></zhuanzhang>
        <router-view></router-view>
</main>
<!--单据打印-->
<div style="width: 400px;height:700px;display: none " class="">
        <p>hello word</p>
        <p>are you ok</p>
</div>
<!--报表打印-->

