

<side></side>
<main class="content js-content">
        <xiadan></xiadan>
        <mingxi></mingxi>
        <storeoption></storeoption>
        <chaxun></chaxun>
        <jiekuan></jiekuan>
        <huangkuan></huangkuan>
        <qiankuanchaxun></qiankuanchaxun>
        <kehuoption></kehuoption>

        <feemingxi></feemingxi>
        <feedan></feedan>
        <feeoption></feeoption>

        <baosun></baosun>
        <jinchumingxi></jinchumingxi>
        <jinhuo></jinhuo>
        <kucun></kucun>

        <report></report>
        <result></result>
        <supplyoption></supplyoption>
        <zhuanzhang></zhuanzhang>
        <router-view></router-view>
</main>

